extends layout

block vars
  - var page = 'mods'

block userScripts
  script.
    function searchMods() {
      var input, filter, table, tr, td, i;
      input = document.getElementById("search");
      filter = input.value.toUpperCase();
      table = document.getElementById("mod-list");
      tr = table.getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        } 
      }
    }

block content

  if message
    p.return-message.text-center.text-warning= message

  input#search.mod-search(type='text', onkeyup='searchMods();', placeholder='Search Mods...')

  ul.nav.nav-pills.pull-right
    li.nav-item
      a(href='?t=all', class=((!query.t || query.t === 'all') ? 'nav-link active' : 'nav-link')) All
    li.nav-item
      a(href='?t=proxy', class=(query && query.t === 'proxy' ? 'nav-link active' : 'nav-link')) Proxy
    li.nav-item
      a(href='?t=ui', class=(query && query.t === 'ui' ? 'nav-link active' : 'nav-link')) UI
    li.nav-item
      a(href='?t=costume', class=(query && query.t === 'costume' ? 'nav-link active' : 'nav-link')) Costume

  table#mod-list.table.table-hover.mod-list
    thead
      tr
        th Mod Name
        th Type
        th Version
        th Author
        th Repository
        th Download
    tbody
      each mod in list
        tr
          td
            a(href='/mod/'+mod._id)= mod.name
          td
            a.mod-type(href='?s='+mod.type.toLowerCase())= mod.type
          td= mod.version
          td
            a.mod-author(href='/user/'+mod.author.id)= mod.author.name
          td
            a.mod-repo(href= mod.repository)= mod.repository
          td
            a.mod-download(href= mod.download)
              i.fa.fa-cloud-download
