extends layout

block vars
  - var page = 'users'

block content
  .container
    h2 Staff Members
    br
    table.table.table-striped.table-hover.table-staff
      thead
        tr
          th Name
          th Rank
          th Email
          th Discord
          th Repository
          th Status
      tbody
        each usr in list
          if usr.rank < 4
            tr
              td
                a(href='/user/'+usr._id)= usr.username
              td
                span(style='color: '+ranks[usr.rank].color+';')= ranks[usr.rank].name
              td
                a(href='mailto://'+usr.email)= usr.email
              td= usr.discord
              td
                a.repo-link-github(href= usr.repository)= usr.repository
              case usr.status
                when 0
                  td.status-offline Offline
                when 1
                  td.status-online Online
                when 2
                  td.status-away Online
                default
                  td.status-offline Offline
    hr
    h2 Users
    br
    table.table.table-striped.table-hover.table-user
      thead
        tr
          th Name
          th Rank
          th Discord
          th Favorites
          th Lists
          th Status
      tbody
        each usr in list
          if usr.rank > 3
            tr
              td
                a(href='/user/'+usr._id)= usr.username
              td
                span(style='color: '+ranks[usr.rank].color+';')= ranks[usr.rank].name
              td= usr.discord
              td
                a.fav-link(href='/user/'+usr._id+'/fav')= '/user/'+usr.username+'/fav'
              td
                a.list-link(href='/user/'+usr._id+'/lists')= '/user/'+usr.username+'/lists'
              case usr.status
                when 0
                  td.status-offline Offline
                when 1
                  td.status-online Online
                when 2
                  td.status-away Online
                default
                  td.status-offline Offline
    hr
    p.text-center.text-muted= 'Total Users: ' + list.length
